.App {
  padding-top: 36px;
  text-align: center;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.PrintResults-wrapper {
  padding-top: 36px;
}

/*
.MoviesList {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item {
  margin-bottom: 24px;
  width: 48%;
}
*/

@media (min-width: 500px) {
  .MoviesList {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 30% 30%;
    grid-auto-flow: row;
  }
}

.MoviesList-item {
  padding-top: 30px;
}

.image-card{
  margin: auto;
  width: 50%;
}

.flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 0.5s linear;
	        animation: flip-scale-up-hor 0.5s linear;
}

@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
