.App {
  padding-top: 36px;
  text-align: center;
}

.main-title {
  font-size: 5em;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.PrintResults-wrapper {
  padding-top: 36px;
}

.columns.is-vcentered {
  margin-top: 40vh;
  margin-left: 25vw;
  margin-right: 25vw;
}

/*
.card {
  color: red;
}*/

/*
.MoviesList {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item {
  margin-bottom: 24px;
  width: 48%;
}
*/

@media (min-width: 500px) {
  .MoviesList {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 30% 30%;
    grid-auto-flow: row;
  }
}

.MoviesList-item {
  padding-top: 30px;
}

.image-card {
  margin: auto;
  width: 50%;
}

.slide-fwd-center {
  animation: slide-fwd-center 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-fwd-center {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(160px);
  }
}
