@charset "utf-8";

$size-biggest: 4rem;

// Update some of Bulma's component variables
$body-background-color: #bdbdbd;
$input-shadow: none;
$title-size: $size-biggest;
$card-background-color: #ecebeb;
$icon-dimensions-large: 30rem;

// Import only what you need from Bulma

@import "../node_modules/bulma/css/bulma.css";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/card.sass";
